        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <!--hide the search form >
            <!--<form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>-->

        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Net.</span>
                </li>
                {% if user.is_student %}
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="/student/toparents/new/" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/a7.jpg"-->
                                    <div class="media-body">
                                    <small class="pull-right"></small>
                                    <strong>Compose a new message</strong> to <strong>Parents</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>

                        <li>
                            <div class="dropdown-messages-box">
                                <a href="/student/tota/new" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/a4.jpg"-->
                                    <div class="media-body ">
                                    <small class="pull-right text-navy"></small>
                                    <strong>Compose a new message</strong> to <strong>you TA</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>

                        <li>
                            <div class="dropdown-messages-box">
                                <a href="student/toadmin/new" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/profile.jpg"-->
                                    <div class="media-body ">
                                    <small class="pull-right"></small>
                                    <strong>Compose a message</strong> to <strong>Agent</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>

                    </ul>
                </li>
                {% endif %}

                {% if user.is_admin %}
                    <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="/student/toparents/new/" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/a7.jpg"-->
                                    <div class="media-body">
                                    <small class="pull-right"></small>
                                    <strong>Compose a new message</strong> to <strong>Parents</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="/student/tota/new" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/a4.jpg"-->
                                    <div class="media-body ">
                                    <small class="pull-right text-navy"></small>
                                    <strong>Compose a new message</strong> to <strong>you TA</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="student/toadmin/new" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/profile.jpg"-->
                                    <div class="media-body ">
                                    <small class="pull-right"></small>
                                    <strong>Compose a message</strong> to <strong>Agent</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>

                    </ul>
                </li>
                {% endif %}

                {% if user.is_parents %}
                    <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="/student/toparents/new/" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/a7.jpg"-->
                                    <div class="media-body">
                                    <small class="pull-right"></small>
                                    <strong>Compose a new message</strong> to <strong>Parents</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="/student/tota/new" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/a4.jpg"-->
                                    <div class="media-body ">
                                    <small class="pull-right text-navy"></small>
                                    <strong>Compose a new message</strong> to <strong>you TA</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="student/toadmin/new" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/profile.jpg"-->
                                    <div class="media-body ">
                                    <small class="pull-right"></small>
                                    <strong>Compose a message</strong> to <strong>Agent</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>

                    </ul>
                </li>
                {% endif %}

                {% if user.is_TA %}
                    <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="/student/toparents/new/" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/a7.jpg"-->
                                    <div class="media-body">
                                    <small class="pull-right"></small>
                                    <strong>Compose a new message</strong> to <strong>Parents</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="/student/tota/new" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/a4.jpg"-->
                                    <div class="media-body ">
                                    <small class="pull-right text-navy"></small>
                                    <strong>Compose a new message</strong> to <strong>you TA</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="student/toadmin/new" class="pull-left">
                                    <!--img alt="image" class="img-circle" src="img/profile.jpg"-->
                                    <div class="media-body ">
                                    <small class="pull-right"></small>
                                    <strong>Compose a message</strong> to <strong>Agent</strong>. <br>
                                    <small class="text-muted"></small>
                                </div>
                                </a>

                            </div>
                        </li>

                    </ul>
                </li>
                {% endif %}

                {% if user.is_student %}

                    <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">{{ user.notification.new_message_from_TA|add:user.notification.new_message_from_parents|add:user.notification.new_message_from_agent }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="/student/toparents/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_parents }} messages from Parents
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/student/toadmin/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_agent }} messages from Agent
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/student/tota/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_TA }} messages from TA
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <!--
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                        -->
                    </ul>
                </li>
                {% endif %}
                {% if user.is_admin %}
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">{{ user.notification.new_message_from_TA|add:user.notification.new_message_from_parents|add:user.notification.new_message_from_student }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="/agent/toparents/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_parents }} messages from Parents
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/agent/tostudent/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_student }} messages from Students
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/agent/tota/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_TA }} messages from TA
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <!--
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                        -->
                    </ul>
                </li>
                {% endif %}
                {% if user.is_parents %}
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">{{ user.notification.new_message_from_agent|add:user.notification.new_message_from_student }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="/parents/toadmin/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_agent }} messages from Parents
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/parents/tostudents/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_student }} messages from Students
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <!--
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                        -->
                    </ul>
                </li>
                {% endif %}
                {% if user.is_TA %}
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">{{ user.notification.new_message_from_agent|add:user.notification.new_message_from_student }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="/ta/tostudents/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_student }} messages from Students
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/ta/toadmin/">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have {{ user.notification.new_message_from_agent }} messages from TA
                                    <span class="pull-right text-muted small"></span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <!--
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                        -->
                    </ul>
                </li>
                {% endif %}
                <li>
                    <a href="/account/logout/">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
                {% if show_right_nav %}
                <li>
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
                {% endif %}
            </ul>

        </nav>
        </div>